.container{
  display: flex;
  flex-direction: row;
  background-color:var(--mat-sys-surface-container);

  justify-content: center;

  align-items: center;
  height: 100vh;
   div.form{
    
    width: auto;
    margin: auto;

    .card{
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

   }

   div.img{
    

       background-image: url("/images/login-image.png"); /* Replace with your image path */
  background-size: cover; /* Resizes image to cover the entire container */
  background-repeat: no-repeat; /* Prevents the image from tiling */
  background-position: center; /* Centers the image within the container */
  height: 400px; /* Set a height for the div to be visible */
  width: 60%;
     height:100vh;
     margin: auto;

   }
}